$theme-color: #f2385a;
$font-family-sans-serif:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-primary: $theme-color;

$gray: #666;
$navbar-default-link-color: $gray;
$container-desktop: 1024px;
// $container-large-desktop: 1024px;

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

.navbar {
    border: 0;
    margin-bottom: 0;
}

.main-name {
    color: $theme-color !important;
    font-weight: 700;
}

@media (min-width: 768px) {
    .nav {
        text-align: center;
        float: none;
        > li {
            display: inline-block;
            float: none;
        }
    }
}

.nav > li > a {
    color: $gray;
}


/* Main Section */

.main-banner {
    background-color: $theme-color;
    padding: 40px;
    text-align: center;
}

.main-thumbnail {
    border: 10px solid darken($theme-color, 20%);
    height: 164px;
    width: 164px;
}

.welcome-message {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-title {
    color: #fff;
    text-transform: uppercase;
}

.introduction {
    color: $gray;
    font-size: 24px;
    margin: 40px auto;
    text-align: justify;
}

/* Portfolio Section */

.post {
    margin: 60px 0;
    .label {
        display: inline-block;
        margin: 0 3px;
    }
}

.mac-window {
    $mac-gray: #ddd;
    border: 2px solid $mac-gray;
    border-radius: 4px;
    .mac-window-bar {
        background-color: $mac-gray;
        height: 30px;
        position: relative;
        .mac-window-buttons,
        &:after,
        &:before {
            background-color: #ffbf00;
            border-radius: 100%;
            content: " ";
            float: left;
            height: 12px;
            left: 24px;
            margin: 0 3px;
            position: absolute;
            top: 6px;
            width: 12px;
        }
        &:after {
            background-color: #00b285;
            left: 42px;
        }
        &:before {
            background-color: #d90000;
            left: 6px;
        }
    }
    .mac-screenshot {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

/* Resume */

.resume {
    .resume-section {
        margin-bottom: 50px; 
    }
    .resume-subsection {
        margin-bottom: 20px;
    }
    .resume-subsection {
        h2, h3, h4, h5, h6, {
            color: $brand-primary;
            margin: 0;
        }
        p {
            margin: 0;
        }
        h4 {
            margin-bottom: 5px;
        }
    }
    .resume-subsection h5 {
        color: #666;
        font-weight: 600;
    }
    strong {
        font-weight: 500;
    }
    h2 {
        color: #aaa;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .resume-section .date {
      color: #bbb;
    }
    .awards {
      border-left: 5px solid #ccc;
    }
    .year h3 {
      vertical-align: top;
      margin-top: 0;
    }
    .resume-section ul {
      list-style: none;
      padding-left: 10px;
      > li {
        color: #999;
        strong {
            color: #000;
        }
      }
    }
    .teaching ul {
        padding-left: 0;
    }
}

/* Contact */

.postcard {
    background-color: #fffdf4;
    padding: 30px;
}
