<div class="row full-height">
  <div class="col-md-12 main-banner three-quarter-height">
    <h1 class="welcome-message">Portfolio</h1>
  </div>
</div>
<div class="container">
  <div class="row post" ng-repeat="item in portfolio">
    <div class="col-md-7 portfolio-item">
      <div class="mac-window">
        <div class="mac-window-bar"><i class="mac-window-buttons"></i></div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="{{item.screenshot_path}}" class="img-responsive">
              <div class="carousel-caption">
                ...
              </div>
            </div>
            <div class="item">
              <img src="{{item.screenshot_path}}" class="img-responsive">
              <div class="carousel-caption">
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h2>{{item.title}}</h2>
      <div ng-bind-html="item.description | to_trusted"></div>
      <p class="tags">
        <span class="label label-primary" ng-repeat="tag in item.tags">{{tag}}</span>
      </p>
    </div>
  </div>
</div>

